# ***Desafío 3***

El objetivo del desafío es poder generar una Jupyter notebook que determine cuán similares son dos títulos del dataset “item_titles_test.csv” generando como output un listado que contenga el score de similitud

In [1]:
import pandas as pd
import numpy as np
import time
from difflib import SequenceMatcher

Leo el archivo con los datos

In [2]:
data = pd.read_csv('items_titles_test.csv')
data.shape

(10000, 1)

Observo la estructura de los datos

In [3]:
data.head(10)

                                      ITE_ITEM_TITLE
0   Tênis Olympikus Esporte Valente - Masculino Kids
1  Bicicleta Barra Forte Samy C/ 6 Marchas Cubo C...
2       Tênis Usthemp Slip-on Temático - Labrador 2
3        Tênis Casual Feminino Moleca Tecido Tie Dye
4        Tênis Star Baby Sapatinho Conforto + Brinde
5            Tênis Oakley Frequency 3.0 Preto/marrom
6  Tênis Jogging Feminino Premium Super Lançament...
7  Under Armour Hovr Phantom 2 Conexão Bluetooth ...
8        Tenis Infantil Feminino Menina Criança Moça
9      Tênis Labellamafia Saturn 6 Cores Disponíveis

Nota: ratio( ) returns the similarity score ( float in [0,1] ) between input strings. It sums the sizes of all matched sequences returned by function get_matching_blocks and calculates the ratio as: ratio = 2.0*M / T , where M = matches , T = total number of elements in both sequences

In [7]:
def similares(data):
    start = time.time()
    nueva_fila = {} 
    data_nueva = pd.DataFrame(columns=["ITE_ITEM_TITLE_1", "ITE_ITEM_TITLE_2", 'Score Similitud (0,1)'])
    for i in range(1,10):
        mask = (data["ITE_ITEM_TITLE"] != data["ITE_ITEM_TITLE"][i])
        data_mask = data[mask].reset_index(drop=True)
        for j in range(len(data_mask.index)):
            s = SequenceMatcher(None, data.loc[i , "ITE_ITEM_TITLE"], data_mask.loc[j , "ITE_ITEM_TITLE"])
            nueva_fila = { "ITE_ITEM_TITLE_1": data.loc[i , "ITE_ITEM_TITLE"], "ITE_ITEM_TITLE_2": data_mask.loc[j , "ITE_ITEM_TITLE"], 'Score Similitud (0,1)': s.ratio()} 
            data_nueva = data_nueva.append(nueva_fila, ignore_index=True)
            
    data_nueva = data_nueva.sort_values('Score Similitud (0,1)', ascending = False).reset_index(drop=True)
    
    end = time.time()
    T = end - start
    print("The minutes used to execute this program is: ", round(T/60))
    
    return data_nueva

In [8]:
# Esta celda tarda en correr un poco más de 9 minutos
data_ordenada = similares(data)
data_ordenada.head(15)

The minutes used to execute this program is:  9

,ITE_ITEM_TITLE_1,ITE_ITEM_TITLE_2,"Score Similitud (0,1)"
0,Tênis Usthemp Slip-on Temático - Labrador 2,Tênis Usthemp Slip-on Temático - Leão,0.878049
1,Tênis Usthemp Slip-on Temático - Labrador 2,Tênis Usthemp Volare Temático - Labrador 2,0.873563
2,Tênis Usthemp Slip-on Temático - Labrador 2,Tênis Usthemp Slip-on Temático - Dark Unicorn 2,0.869565
3,Tênis Usthemp Slip-on Temático - Labrador 2,Tênis Usthemp Slip-on Temático - Raposa,0.857143
4,Tênis Usthemp Slip-on Temático - Labrador 2,Tênis Usthemp Slip-on Temático - Baby Dogs 4,0.853933
5,Tenis Infantil Feminino Menina Criança Moça,Tenis Infantil Feminino Meninas Love Coração,0.827586
6,Tênis Usthemp Slip-on Temático - Labrador 2,Tênis Usthemp Slip-on Temático - Calopsitas,0.818182
7,Tênis Usthemp Slip-on Temático - Labrador 2,Tênis Usthemp Half Temático - Lunna Labrador 3,0.813187
8,Tênis Usthemp Slip-on Temático - Labrador 2,Tênis Usthemp Slip-on Temático - Poodle Amarelo,0.804348
9,Tênis Usthemp Slip-on Temático - Labrador 2,Tênis Usthemp Slip-on Temático - Lulu Da Pome...,0.800000
10,Tênis Usthemp Slip-on Temático - Labrador 2,Tênis Usthemp Spice Temático - Labrador Choc...,0.800000
11,Tênis Usthemp Slip-on Temático - Labrador 2,Tênis Usthemp Slip-on Temático - Gato Russian...,0.778947
12,Tênis Usthemp Slip-on Temático - Labrador 2,Tênis Usthemp Spice Temático - Dálmata 2,0.776471
13,Tênis Casual Feminino Moleca Tecido Tie Dye,Tênis Feminino Moleca Multicolor Tie Dye,0.771084
14,Tênis Usthemp Slip-on Temático - Labrador 2,Tênis Usthemp Pepper Temático - Vaca 2,0.771084

In [9]:
# data_ordenada.tail(15)